<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <p class="text-center mt-4">
            <a href="{{ path('app_home') }}">Home</a> |
            {% if app.user %}
                <strong>{{ app.user.name }}</strong> |
                <a href="{{ path('app_logout') }}">Cerrar sesión</a>
            {% else %}
                <a href="{{ path('app_login') }}">Login</a> |
                <a href="{{ path('app_register') }}">Registro</a>
            {% endif %}
        </p>

        <div class="container my-4">
            <div class="row p-4 rounded border shadow-lg">
                <div class="col-md-9">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>        
    </body>
</html>
